<div class="breadcrumb">
    <a href="#">全部分类</a>
    <span>></span>
    <a href="#">新鲜水果</a>
    <span>></span>
    <a href="#">商品详情</a>
</div>

<div class="goods_detail_con clearfix">
    <div class="goods_detail_pic fl"><img src="http://212.64.52.176:8888/{{.goods.Image}}"></div>

    <div class="goods_detail_list fr">
        <h3>{{.goods.Name}}</h3>
        <p>{{.goods.Goods.Detail}}</p>
        <div class="prize_bar">
            <span class="show_pirze">¥<em>{{.goods.Price}}</em></span>
            <span class="show_unit">单  位：{{.goods.Unite}}</span>
        </div>
        <div class="goods_num clearfix">
            <div class="num_name fl">数 量：</div>
            <div class="num_add fl">
                <input type="text" class="num_show fl" value="1">
                <a href="javascript:;" class="add fr">+</a>
                <a href="javascript:;" class="minus fr">-</a>
            </div>
        </div>
        <div class="total">总价：<em>{{.goods.Price}}</em></div>
        <div class="operate_btn">
            <a href="javascript:;" class="buy_btn">立即购买</a>
            <a href="javascript:;" class="add_cart" id="add_cart" skuId="{{.goods.Id}}">加入购物车</a>
        </div>
    </div>
</div>

<div class="main_wrap clearfix">
    <div class="l_wrap fl clearfix">
        <div class="new_goods">
            <h3>新品推荐</h3>
            <ul>
            {{range .newGoods}}
                <li>
                    <a href="/showGoodsDetail?id={{.Id}}"><img src="http://212.64.52.176:8888/{{.Image}}"></a>
                    <h4><a href="/showGoodsDetail?id={{.Id}}">{{.Name}}</a></h4>
                    <div class="prize">{{.Price}}</div>
                </li>
            {{end}}

            </ul>
        </div>
    </div>

    <div class="r_wrap fr clearfix">
        <ul class="detail_tab clearfix">
            <li class="active">商品介绍</li>
            <li>评论</li>
        </ul>

        <div class="tab_content">
            <dl>
                <dt>商品详情：</dt>
                <dd>草莓采摘园位于北京大兴区 庞各庄镇四各庄村
                    ，每年1月-6月面向北京以及周围城市提供新鲜草莓采摘和精品礼盒装草莓，草莓品种多样丰富，个大香甜。所有草莓均严格按照有机标准培育，不使用任何化肥和农药。草莓在采摘期间免洗可以直接食用。欢迎喜欢草莓的市民前来采摘，也欢迎各大单位选购精品有机草莓礼盒，有机草莓礼盒是亲朋馈赠、福利送礼的最佳选择。
                </dd>
            </dl>
        </div>

    </div>
</div>
<script type="text/javascript">
    SetAmountPrice();
    $(".add").click(function () {
        //加1操作
        let num = $(".num_show").val();
        num = parseInt(num);
        num = num + 1;
        $(".num_show").val(num);
        SetAmountPrice();
    });
    $(".minus").click(function () {
        //加1操作
        let num = $(".num_show").val();
        num = parseInt(num);
        num = num - 1;
        if (num < 1) {
            num = 1;
        }
        $(".num_show").val(num);
        SetAmountPrice();
    });
    $(".num_show").blur(function () {
        //当失去焦点的时候,重新计算总价
        let num = $(".num_show").val();
        if (parseInt(num) < 1 || isNaN(num) || num.trim().length == 0) {
            num = 1;
            $(".num_show").val(num);
        }
        SetAmountPrice();
    });

    function SetAmountPrice() {
        //详情页加减商品的js代码
        //获取商品的数量和单价
        let num = $(".num_show").val();
        let price = $(".show_pirze").children("em").text();
        console.log("num is", num, "price is", price);
        //转换价格和数量
        num = parseInt(num);
        price = parseInt(price);
        console.log("num is", num, "price is", price);
        //计算总价
        let amount = num * price;
        //设置总价
        $(".total").children("em").text(amount + "元");
    }

    //给添加购物车按钮设置点击事件,点击的时候发起ajax请求将数据存入redis中
    $(".add_cart").click(function () {

        var $add_x = $('#add_cart').offset().top;
        var $add_y = $('#add_cart').offset().left;

        var $to_x = $('#show_count').offset().top;
        var $to_y = $('#show_count').offset().left;


        let skuId = $('#add_cart').attr("skuId");
        //得到当前的数量
        let goodsNum = $(".num_show").val();
        let params = {"skuId": skuId, "goodsNum": goodsNum};
        $.post("/user/addCart", params, function (data) {
            if (data.res === 8) {
                //添加成功
                $(".add_jump").css({'left': $add_y + 80, 'top': $add_x + 10, 'display': 'block'});
                $(".add_jump").stop().animate({
                            'left': $to_y + 7,
                            'top': $to_x + 7
                        },
                        "fast", function () {
                            $(".add_jump").fadeOut('fast', function () {
                                $('#show_count').html(data.cartcount);
                            });
                        });
            } else if (data.res > 0) {
                alert(data.errMsg);
            } else {
                alert("请先登录!");
            }
        });
    });
</script>