<div class="search_bar clearfix">
    <a href="/" class="logo fl"><img src="../static/images/logo.png"></a>
    <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
    <div class="search_con fr">
        <input type="text" class="input_text fl" name="" placeholder="搜索商品">
        <input type="button" class="input_btn fr" name="" value="搜索">
    </div>
</div>

<div class="main_con clearfix">
    <div class="left_menu_con clearfix">
        <h3>用户中心</h3>
        <ul id="list">
            <li><a href="showUserInfo" class="active">· 个人信息</a></li>
            <li><a href="showUserOrder">· 全部订单</a></li>
            <li><a href="addDefaultAddr">· 收货地址</a></li>
        </ul>
    </div>
    <div class="right_content clearfix">
        <div class="info_con clearfix">
            <h3 class="common_title2">基本信息</h3>
            <ul class="user_info_list">
                <li><span>用户名：</span>{{.username}}</li>
            {{if compare .address ""}}
                <li style="font-weight: bold ;font-size: 32px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;没有默认地址</li>
            {{else}}
                <li><span>联系方式：</span>{{.phoneNumber}}</li>
                <li><span>联系地址：</span>{{.address}}</li>
            {{end}}
            </ul>
        </div>

        <h3 class="common_title2">最近浏览</h3>
        <div class="has_view_list">
            <ul class="goods_type_list clearfix">
            {{range .goods}}
                <li>
                    <a href="/showGoodsDetail?id={{.Id}}"><img src="http://212.64.52.176:8888/{{.Image}}"></a>
                    <h4><a href="/showGoodsDetail?id={{.Id}}">{{.Name}}</a></h4>
                    <div class="operate">
                        <span class="prize">{{.Price}}</span>
                        <span class="unit">{{.Unite}}</span>
                        <a href="#" class="add_goods" title="加入购物车"></a>
                    </div>
                </li>
                {{else}}
                <div>没有浏览记录</div>
            {{end}}

            </ul>
        </div>
    </div>
</div>

