<div class="main_con clearfix">
    <div class="left_menu_con clearfix">
        <h3>用户中心</h3>

        <ul>
            <li><a href="showUserInfo">· 个人信息</a></li>
            <li><a href="showUserOrder" class="active">· 全部订单</a></li>
            <li><a href="addDefaultAddr">· 收货地址</a></li>
        </ul>
    </div>
    <div class="right_content clearfix">
        <h3 class="common_title2">全部订单</h3>
    {{range .orderInfos}}
        <ul class="order_list_th w978 clearfix">
            <li class="col01">{{.Time}}</li>
            <li class="col02">订单号：{{.OrderId}}</li>
        {{if compare .Orderstatus 1}}
            <li class="col02 stress">未支付</li>
        {{else}}
            <li class="col02 stress">已支付</li>
        {{end}}

        </ul>

        <table class="order_list_table w980">
            <tbody>
            <tr>
                <td width="55%">
                {{range .OrderGoods}}
                    <ul class="order_goods_list clearfix">
                        <li class="col01"><img src="http://212.64.52.176:8888/{{.GoodsSKU.Image}}"></li>
                        <li class="col02">{{.GoodsSKU.Name}}<em>{{.GoodsSKU.Price}}元/{{.GoodsSKU.Unite}}</em></li>
                        <li class="col03">{{.Count}}件</li>
                        <li class="col04">{{.Price}}元</li>
                    </ul>
                {{end}}
                </td>
                <td width="15%">{{.TotalPrice}}元</td>
            {{if compare .Orderstatus 1}}
                <td width="15%">待付款</td>
            {{else}}
                <td width="15%">已付款</td>
            {{end}}
            {{if compare .Orderstatus 1}}
                <td width="15%"><a href="/user/goPay?orderId={{.OrderId}}&totalPrice={{.TotalPrice}}&payMethod={{.PayMethod}}" class="oper_btn">去付款</a></td>
            {{else}}
                <td width="15%"><a href="#" class="oper_btn">查看物流</a></td>

            {{end}}
            </tr>
            </tbody>
        </table>
    {{end}}



        <div class="pagenation">
            <a href="/user/showUserOrder?pageIndex={{.prePage}}">上一页</a>
        {{range $index,$val := .pageBuffer}}
        {{if compare $val $.pageIndex}}
            <a href="/user/showUserOrder?pageIndex={{$val}}" class="active">{{$val}}</a>
        {{else}}
            <a href="/user/showUserOrder?pageIndex={{$val}}">{{$val}}</a>
        {{end}}
        {{end}}
            <a href="/user/showUserOrder?pageIndex={{.nextPage}}">下一页></a>
        </div>
    </div>
</div>
